@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@media (prefers-color-scheme: dark) {	
	:root {
		/* Window */
		--gnome-window-background: var(--lwt-accent-color, #222226);
		--gnome-window-color: var(--lwt-text-color, #fff);
		--gnome-view-background: var(--lwt-accent-color, #1e1e1e);
		--gnome-sidebar-background: var(--lwt-accent-color, #2e2e32);
		--gnome-secondary-sidebar-background: var(--lwt-accent-color, #28282c);

		/* Card */
		--gnome-card-background: color-mix(in srgb, var(--lwt-text-color, #000) 8%, transparent)
		--gnome-card-shade-color: color-mix(in srgb, var(--lwt-accent-color, #000006) 36%, transparent);

		/* Menu */
		--gnome-menu-background: var(--lwt-accent-color, #36363a);

		/* Header bar */
		--gnome-headerbar-background: var(--lwt-accent-color, #2e2e32);
		--gnome-headerbar-shade-color: var(--lwt-accent-color, rgba(0, 0, 0, 0.9));

		/* Toolbars */
		--gnome-toolbar-icon-fill: var(--lwt-text-color, #eeeeec);

		/* Tabs */
		--gnome-tabbar-tab-hover-background: var(--lwt-accent-color, #3d3d40); /* Hardcoded color */
		--gnome-tabbar-tab-active-background: var(--lwt-accent-color, #434346); /* Hardcoded color */
		--gnome-tabbar-tab-active-background-contrast: var(--lwt-accent-color, #4F4F4F); /* Hardcoded color */
		--gnome-tabbar-tab-active-hover-background: var(--lwt-accent-color, #49494d); /* Hardcoded color */
		
		/* Text color for Firefox Logo in new private tab */
		--gnome-private-wordmark: var(--lwt-text-color, #FBFBFE);
		/* New private tab background */
		--gnome-private-in-content-page-background: var(--lwt-accent-color, #222226);
		/* Private browsing info box */
		--gnome-private-text-primary-color: var(--lwt-text-color, #FBFBFE);
		
		/* Backdrop colors */
		&:-moz-window-inactive {
			--gnome-tabbar-tab-hover-background: var(--lwt-accent-color-inactive, #2a2a2e); /* Hardcoded color */
			--gnome-tabbar-tab-active-background: var(--lwt-accent-color-inactive, #2d2d31); /* Hardcoded color */
			--gnome-sidebar-background: var(--lwt-accent-color-inactive, #28282c);
			--gnome-secondary-sidebar-background: var(--lwt-accent-color-inactive, #252529);
		}
		
		/* Private browsing colors */
		&[privatebrowsingmode="temporary"] {
			/* Tabs */	
			--gnome-tabbar-tab-hover-background: #6C438C; /* Hardcoded color */
			--gnome-tabbar-tab-active-background: #70498F; /* Hardcoded color */
			--gnome-tabbar-tab-active-background-contrast: #86689e; /* Hardcoded color */
			--gnome-tabbar-tab-active-hover-background: #754F93; /* Hardcoded color */
			
			/* Private and backdrop colors */
			&:-moz-window-inactive {
				--gnome-tabbar-tab-hover-background: #673C87; /* Hardcoded color */
				--gnome-tabbar-tab-active-background: #683F89; /* Hardcoded color */
			}
		}
	}
}
