@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
	/* Colors */
	--gnome-accent-bg: var(--lwt-accent-color, AccentColor);
	
    /* Window */
	--gnome-window-background: var(--lwt-accent-color, #fafafa);
	--gnome-window-color: var(--lwt-text-color, rgba(0, 0, 0, 0.8))
	--gnome-view-background: var(--lwt-accent-color, #ffffff);
	--gnome-sidebar-background: var(--lwt-accent-color, #ebebeb);
	--gnome-secondary-sidebar-background: var(--lwt-accent-color, #f3f3f3);
	
	/* Card */
	--gnome-card-background: var(--lwt-accent-color, #ffffff);
	--gnome-card-shade-color: color-mix(in srgb, black 7%, transparent);
	
	/* Menu */
	--gnome-menu-background: var(--lwt-accent-color, #ffffff);
	--gnome-menu-border-color: rgba(0, 0, 0, .04);
	--gnome-menu-shadow: 0 1px 5px 1px rgba(0,0,0, .09), 0 2px 14px 3px rgba(0,0,0, .05);
	
	/* Header bar */
	--gnome-headerbar-background: var(--lwt-accent-color, #ffffff);
	--gnome-headerbar-shade-color: var(--lwt-accent-color, rgba(0, 0, 0, 0.12));

	/* Toolbars */
	--gnome-toolbar-icon-fill: var(--lwt-text-color, #2f2f2f);
	
	/* Tabs */
	--gnome-tabbar-tab-hover-background: var(--lwt-accent-color, #f1f1f1); /* Hardcoded color */
	--gnome-tabbar-tab-active-background: var(--lwt-accent-color, #ebebeb); /* Hardcoded color */
	--gnome-tabbar-tab-active-background-contrast: var(--lwt-accent-color, #c0c0c0); /* Hardcoded color */
	--gnome-tabbar-tab-active-hover-background: var(--lwt-accent-color, #e4e4e4); /* Hardcoded color */
	
	/* Miscellaneous */
	--gnome-shade-color: rgba(0, 0, 0, 0.07);

	/* Text color for Firefox Logo in new private tab */
	--gnome-private-wordmark: #20123A;
	/* New private tab background */
	--gnome-private-in-content-page-background: #FAFAFA;
	/* Private browsing info box */
	--gnome-private-text-primary-color: #15141A;

	/* Backdrop colors */
	&:-moz-window-inactive {
		--gnome-headerbar-background: var(--gnome-window-background);
		--gnome-tabbar-tab-hover-background: var(--lwt-accent-color-inactive,  #f3f3f3); /* Hardcoded color */
		--gnome-tabbar-tab-active-background: var(--lwt-accent-color-inactive, #f0f0f0); /* Hardcoded color */
		--gnome-sidebar-background: var(--lwt-accent-color-inactive, #f2f2f2); /* Hardcoded color */
		--gnome-secondary-sidebar-background: var(--lwt-accent-color-inactive, #f6f6f6); /* Hardcoded color */
	}

	/* Private browsing colors */
	&[privatebrowsingmode="temporary"] {
		--gnome-accent-bg: var(--gnome-palette-purple-5) !important;
		/* Headerbar */
		--gnome-headerbar-background: #ebd1ff !important;
		/* Tabs */
		--gnome-tabbar-tab-hover-background: #DEC6F1; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #D9C1EB; /* Hardcoded color */
		--gnome-tabbar-tab-active-background-contrast: #c895ed; /* Hardcoded color */
		--gnome-tabbar-tab-active-hover-background: #D3BCE6; /* Hardcoded color */

		/* Private and backdrop colors */
		&:-moz-window-inactive {
			--gnome-tabbar-tab-hover-background: #E5CBF8; /* Hardcoded color */
			--gnome-tabbar-tab-active-background: #E2C9F5; /* Hardcoded color */
		}
	}
}
