@import "colors/light.css";
@import "colors/dark.css";

.toolbarbutton-icon {
  transition-property: opacity !important;
  transition-duration: var(--gnome-animation-time) !important;
}

#navigator-toolbox {
  --toolbar-start-end-padding: 1px;
  --gnome-toolbar-border-color: var(--gnome-toolbar-background) !important;
  transition-property: background-color, border-color !important;
  transition-duration: var(--gnome-animation-time) !important;
}

#nav-bar,
#nav-bar .urlbarView-body-outer,
#nav-bar .search-one-offs,
.toolbar-items {
  background: unset !important;
  background-color: var(--gnome-headerbar-background) !important;
  transition: background var(--gnome-animation-time) !important;
}

#urlbar {
  :is(#translations-button, #shopping-sidebar-button, #reader-mode-button) {
    display: none !important;
  }
}

#alltabs-button {
  transition-property: background, max-width, margin, padding !important;
  transition-duration: var(--gnome-animation-time) !important;
  transition-delay: var(--gnome-animation-time) !important;
  transition-timing-function: ease;
}

#sidebar-main,
#sidebar-box {
  background-color: var(--gnome-headerbar-background) !important;
  transition: max-width, background-color !important;
  transition-duration: var(--gnome-animation-time) !important;
}

.tab-icon-overlay {
  background-color: transparent !important;
  top: 6px !important;
}

.button-background,
.tab-background,
#tabs-newtab-button,
#vertical-tabs-newtab-button {
  box-shadow: none !important;
  transition-property: background-color, outline-color, color, border-color, outline-color;
  transition-duration: var(--gnome-animation-time);
}

:root[privatebrowsingmode="temporary"] {
  .tab-background {
    --tab-selected-outline-color: transparent;
  }
}