@import "vertical-tabs.css";
@import "dynamic-colors.css" screen and -moz-pref("gnomeTheme.extensions.adaptiveTabBarColour");

* {
  font-family: "Inter Variable", "Inter", sans-serif !important;
}

.titlebar-buttonbox-container {
  display: none;
}

.titlebar-buttonbox-container {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

#urlbar {
  :is(#translations-button, #shopping-sidebar-button, #reader-mode-button) {
    display: none !important;
  }
}

#sidebar-launcher-splitter {
  opacity: 0;
}