@import "vertical-tabs.css";
@import "dynamic-colors.css";

* {
  font-family: "Inter Variable", "Inter", sans-serif !important;
}

.titlebar-buttonbox-container {
  display: none;
}

.titlebar-buttonbox-container {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}